Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

chore: allow to run release workflow manually
  .github/workflows/release.yml
Due: prettier --write

Notes added by 'git notes add'
  d1bf4f3f1b842e1240411e06460d1a1d665c0e16
Due: none

chore: willboosterify this repo
  README.md
Due: prettier --write

chore: willboosterify this repo
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .dockerignore
Due: none

fix: fix jquery error in firefox
  src/finder/gitHubFinder.ts
Due: eslint --fix

update README.md
  README.md
Due: prettier --write

fix: fix jquery error in firefox (#837)
  README.md
  src/finder/github/gitHubFileViewFinder.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  defac384a0b5feb0803ac81e885549966e389806
Due: none

install playwright
  __tests__/playwrightFixtures.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

implement playwright test
  __tests__/playwright.test.ts
  __tests__/playwrightFixtures.ts
  src/constants.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

comment
  __tests__/playwrightFixtures.ts
Due: eslint --fix

add test command
  package.json
Due: prettier --write

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.40.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .yarn/plugins/plugin-auto-install.cjs
  .yarnrc.yml
Due: prettier --write

fix: upgrade @tsconfig/svelte and typescript
  package.json
  yarn.lock
Due: prettier --write

test: add playwright tests (#838)
  __tests__/playwright.test.ts
  __tests__/playwrightFixtures.ts
  package.json
  src/constants.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: willboosterify this repo
  tests/playwright.test.ts
  tests/playwrightFixtures.ts
Due: none

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.42.cjs
  .yarn/releases/yarn-4.0.0-rc.43.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  package.json
  src/config.ts
  src/finder/codeBlockFinder.ts
  src/finder/github/gitHubFileViewFinder.ts
  src/mutator/diffMutator.ts
  yarn.lock
Due: eslint --fix, prettier --write

.
  src/mutator/diffMutator.ts
Due: eslint --fix

.
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#863)
  .renovaterc.json
  package.json
  src/config.ts
  src/finder/codeBlockFinder.ts
  src/finder/github/gitHubFileViewFinder.ts
  src/mutator/diffMutator.ts
  yarn.lock
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  12264f7ca83ecb7e047e661cb8560a19b3f7ae39
Due: none

chore: willboosterify this repo
  .renovaterc.json
Due: prettier --write

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.43.cjs
  .yarn/releases/yarn-4.0.0-rc.44.cjs
  .yarnrc.yml
  package.json
Due: prettier --write

fix: use deflateRaw in pako instead of zlib.es
  package.json
  src/encoder/plantUmlEncoder.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: use deflateRaw in pako instead of zlib.es (#869)
  package.json
  src/encoder/plantUmlEncoder.ts
  yarn.lock
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3145d766f03939a014075a7c83e1b8436f90f2ff
Due: none
