Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading Prettier
  .idea/watcherTasks.xml
  .lintstagedrc.js
  .renovaterc.json
  package.json
  src/background.ts
  src/content_scripts.ts
  src/finder/GitHubFinder.ts
  src/mutator/DiffMutator.ts
  src/mutator/MutatorUtil.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: willboosterify this repo upgrading Prettier (#412)
  .idea/watcherTasks.xml
  .lintstagedrc.js
  .renovaterc.json
  package.json
  src/background.ts
  src/content_scripts.ts
  src/finder/GitHubFinder.ts
  src/mutator/DiffMutator.ts
  src/mutator/MutatorUtil.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: willboosterify this repo upgrading Prettier
  yarn.lock
Due: none

chore: willboosterify this repo upgrading Prettier (#413)
  yarn.lock
Due: none

chore: willboosterify .ignore files
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore: willboosterify .ignore files (#414)
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: willboosterify .ignore files (#417)
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore: willboosterify this repo
  .idea/watcherTasks.xml
Due: none

chore: willboosterify this repo (#418)
  .idea/watcherTasks.xml
Due: none

test: add include sample
  puml-sample/state.pu
  puml-sample/substate.pu
Due: none

test: add include sample (#421)
  puml-sample/state.pu
  puml-sample/substate.pu
Due: none

feat: support include directive in GitHub file block
  src/finder/Finder.ts
  src/finder/GitHubFinder.ts
  src/finder/RawFileFinder.ts
  src/mutator/DescriptionMutator.ts
Due: eslint --fix

delete console.log
  src/finder/GitHubFinder.ts
Due: eslint --fix

KEEP: test case of include directive
  puml-sample/next-substate.pu
  puml-sample/state.pu
Due: none

revert needless change
  src/finder/GitHubFinder.ts
Due: eslint --fix

feat: support include directive in GitHub RawFile
  .eslintrc.json
  src/finder/RawFileFinder.ts
Due: eslint --fix, prettier --write

fix: delete all @startuml and @enduml in included file
  src/finder/GitHubFinder.ts
Due: eslint --fix

fix: delete all @startuml and @enduml in included file
  src/finder/RawFileFinder.ts
Due: eslint --fix

chore(deps): update dependency rollup to v2
  package.json
  yarn.lock
Due: prettier --write

refine based on review
  src/mutator/DescriptionMutator.ts
  src/mutator/DiffMutator.ts
Due: eslint --fix

feat: support include directive in GitHub issues / PRs / code blocks (#422)
  src/finder/Finder.ts
  src/finder/GitHubFinder.ts
  src/finder/RawFileFinder.ts
  src/mutator/DescriptionMutator.ts
  src/mutator/DiffMutator.ts
Due: eslint --fix

revert eslint rules
  .eslintrc.json
  src/finder/RawFileFinder.ts
Due: eslint --fix, prettier --write

refactor
  src/content_scripts.ts
  src/finder/GitHubFinder.ts
  src/finder/RawFileFinder.ts
Due: eslint --fix

use join instead of concat
  src/finder/GitHubFinder.ts
Due: eslint --fix

ci: employ GitHub Actions and semantic-release-firefox-add-on
  .circleci/config.yml
  .github/workflows/build.yml
  .github/workflows/semantic-release.yml
  package.json
  yarn.lock
Due: prettier --write

ci: enable cache
  .github/workflows/build.yml
Due: prettier --write

.
  .github/workflows/check-and-build.yml
Due: prettier --write

replace join() to join('\n')
  src/finder/GitHubFinder.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
