Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

chore(deps): update willbooster-config to v5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/cache action to v2
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v16
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v10
  package.json
  yarn.lock
Due: prettier --write

fix lint errors
  .idea/codeStyles/codeStyleConfig.xml
  src/content_scripts.ts
  src/encoder/plantUmlEncoder.ts
  src/finder/gitHubFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

build: refine ci and release settings
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  .releaserc.json
Due: prettier --write

build: enable successComment in github release
  .releaserc.json
Due: prettier --write

build(release): refactor settings
  .releaserc.json
Due: prettier --write

refactor: code
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: prettier --write
