Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

docs: update README.md (#440)
  README.md
Due: prettier --write

docs: add 'Requirements for Development' in README (#441)
  README.md
  github-actions.png
Due: prettier --write

chore(deps): update dependency eslint to v7
  package.json
  yarn.lock
Due: prettier --write

fix(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: add plantuml server in permissions of manifest.json
  manifest.json
Due: prettier --write

Notes added by 'git notes add'
  47778c109cddf5b88a476c706d41b3e3b2c8c1af
Due: none

fix: extensionId of semantic-release-firefox-add-on
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  58192487ac9b4c639148fa9fbc7e8eb1c325e389
Due: none

fix: don't bundle core-js
  babel.config.json
Due: prettier --write

fix: extensionId of semantic-release-firefox-add-on (take 2)
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  b36d6acd3ee386f41aaf2bb541cf57478c2035a9
Due: none

build: publish Firefox addon via AMO
  .releaserc.json
Due: prettier --write

docs: add sample README
  README.md
  puml-sample/README.md
Due: prettier --write

docs: add sample README (#444)
  README.md
  puml-sample/README.md
Due: prettier --write

fix: don't use deprecated functinos
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
Due: eslint --fix

Notes added by 'git notes add'
  ce7464bbb20911d270c5071b9bd478c24f4b7439
Due: none

docs: fix README
  README.md
Due: prettier --write

docs: mention about Firefox issue
  README.md
Due: prettier --write

docs: update Bugzilla link
  README.md
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v12
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/eslint-config-ts to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all non-major dependencies to v7.10.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all non-major dependencies to v7.10.3 (#453)
  package.json
  yarn.lock
Due: prettier --write

build: refine settings for GitHub Actions
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  README.md
Due: prettier --write

ci: refine triggers of GitHub Actions
  .github/workflows/test.yml
Due: prettier --write

ci: refine ci settings
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  README.md
  package.json
Due: prettier --write

fix: fix github PR diff finder
  README.md
  allow-access.png
  src/finder/gitHubFinder.ts
Due: eslint --fix, prettier --write

fix
  src/finder/gitHubFinder.ts
Due: eslint --fix

ci: tweak GitHub Actions settings
  .github/workflows/test.yml
Due: prettier --write

chore(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
