Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

Update README.md
  README.md
Due: prettier --write

docs: refine README
  README.md
  example.png
  screen.png
Due: prettier --write

docs: fix README reformatting files
  README.md
  package.json
Due: prettier --write

fix: work well when submitting/updating an issue or showing its preview
  README.md
  manifest.json
  package.json
  rollup.config.js
  src/Mutator.ts
  src/content_scripts.ts
  src/encoder/PlantUmlEncoder.ts
  src/finder/Finder.ts
  src/finder/GitHubFinder.ts
  src/finder/RawFileFinder.ts
  src/mutator/DescriptionMutator.ts
  src/mutator/DiffMutator.ts
  src/mutator/MutatorUtil.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: work well when submitting/updating an issue or showing its preview (#155)
  README.md
  manifest.json
  package.json
  rollup.config.js
  src/Mutator.ts
  src/content_scripts.ts
  src/encoder/PlantUmlEncoder.ts
  src/finder/Finder.ts
  src/finder/GitHubFinder.ts
  src/finder/RawFileFinder.ts
  src/mutator/DescriptionMutator.ts
  src/mutator/DiffMutator.ts
  src/mutator/MutatorUtil.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

v1.3.0
  package.json
Due: prettier --write

feat: support code blocks without the language identifier like puml
  package.json
  src/finder/GitHubFinder.ts
Due: eslint --fix, prettier --write

feat: support code blocks without the language identifier like puml (#182)
  package.json
  src/finder/GitHubFinder.ts
Due: eslint --fix, prettier --write

build: make npm package private
  package.json
Due: prettier --write

prepare for release
  .releaserc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write

prepare for release
  .circleci/config.yml
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write

.
  .releaserc.json
  yarn.lock
Due: prettier --write

build: employ semantic-release to automate release (#188)
  .circleci/config.yml
  .releaserc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write

ci: fix settings
  .circleci/config.yml
Due: prettier --write

ci: fix settings for release
  .circleci/config.yml
Due: prettier --write

ci: fix settings for release
  .releaserc.json
  manifest.json
  package.json
Due: prettier --write

docs: add semantic-release badge in README
  README.md
Due: prettier --write

build: don't include invalid characters in version propery
  manifest.json
  package.json
Due: prettier --write

fix: support file urls correctly
  README.md
  manifest.json
Due: prettier --write

fix: support file urls correctly (#228)
  README.md
  manifest.json
Due: prettier --write

build: use chore prefix for dependency updates
  .dependabot/config.yml
Due: prettier --write

build: use exKAZUu/semantic-release-chrome temporally
  package.json
  yarn.lock
Due: prettier --write

chore: upgrade all dependencies
  yarn.lock
Due: none

fix: optimize images
  icon/icon128.png
  icon/icon16.png
  icon/icon16gray.png
  icon/icon48.png
Due: none

fix: configs for semantic-release
  .circleci/config.yml
  .releaserc.json
Due: prettier --write

build: fix CircleCI settings
  .circleci/config.yml
Due: prettier --write

fix: configs of semantic-release
  .releaserc.json
Due: prettier --write

build: use patched semantic-release-firefox temporally
  package.json
  yarn.lock
Due: prettier --write

fix: use patched semantic-release-firefox temporally (take 2)
  .circleci/config.yml
  yarn.lock
Due: prettier --write

fix: use patched semantic-release-firefox temporally (take 3)
  yarn.lock
Due: none

fix: use patched semantic-release-firefox temporally (take 4)
  yarn.lock
Due: none

fix: use patched semantic-release-firefox temporally (take 5)
  yarn.lock
Due: none

fix: use patched semantic-release-firefox temporally (take 6)
  yarn.lock
Due: none

fix: use orb to speed up deployment
  .circleci/config.yml
Due: prettier --write

build: prioritize semantic-release-chrome
  .releaserc.json
Due: prettier --write

KEEP: test case of tricky renaming a PlantUML file (NOT SUPPORTED YET)
  puml-sample/tricky → newname.pu
Due: none

change file
  puml-sample/tricky → newname.pu
Due: none

fix: visualize diffs of PlantUML descriptions which include both renaming and changes
  src/finder/GitHubFinder.ts
Due: eslint --fix

refine code based on review
  src/finder/GitHubFinder.ts
Due: eslint --fix
