Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update actions/setup-node action to v2
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v17
  package.json
  yarn.lock
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.11.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: don't find elements embedded by mutators
  .vscode/settings.json
  src/constants.ts
  src/content_scripts.ts
  src/finder/finder.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix, prettier --write

fix
  src/finder/rawFileFinder.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
