Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore: willboosterify this repo
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-4.0.0-rc.44.cjs
  .yarn/releases/yarn-4.0.0-rc.45.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .yarnrc.yml
Due: prettier --write

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.45.cjs
  .yarn/releases/yarn-4.0.0-rc.46.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

fix: make plantumls render in file viewer again
  src/constants.ts
  src/finder/github/gitHubFileViewFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

fix: make PR fetch file viewer page in html again
  src/finder/github/gitHubFileViewFinder.ts
  src/finder/github/gitHubPullRequestDiffFinder.ts
Due: eslint --fix

chore: willboosterify this repo
  .eslintignore
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/add-focused-issue-to-project.yml
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/test.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  .releaserc.json
  .renovaterc.json
  .vscode/settings.json
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  renovate.json
  src/popup.html
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .editorconfig
  .eslintignore
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/test.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .idea/watcherTasks.xml
  .lintstagedrc.cjs
  .prettierignore
  .releaserc.json
  .renovaterc.json
  .tool-versions
  .vscode/settings.json
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  renovate.json
  src/config.ts
  src/popup.html
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: willboosterify this repo
  .editorconfig
  .eslintignore
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/test.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .idea/watcherTasks.xml
  .lintstagedrc.cjs
  .prettierignore
  .releaserc.json
  .renovaterc.json
  .tool-versions
  .vscode/settings.json
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  renovate.json
  src/config.ts
  src/popup.html
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: willboosterify this repo
  .editorconfig
  .eslintignore
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/test.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .idea/watcherTasks.xml
  .lintstagedrc.cjs
  .prettierignore
  .releaserc.json
  .renovaterc.json
  .tool-versions
  .vscode/settings.json
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
  renovate.json
  src/config.ts
  src/popup.html
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: willboosterify this repo
  .editorconfig
  .eslintignore
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/test.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .idea/watcherTasks.xml
  .lintstagedrc.cjs
  .prettierignore
  .releaserc.json
  .renovaterc.json
  .tool-versions
  .vscode/settings.json
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
  renovate.json
  src/popup.html
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/add-ready-issue-to-project.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/wbfy-merge.yml
  .github/workflows/wbfy.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .idea/watcherTasks.xml
  .lintstagedrc.cjs
  .prettierignore
  .releaserc.json
  .renovaterc.json
  .tool-versions
  .vscode/settings.json
  .yarn/plugins/plugin-auto-install.cjs
  .yarn/releases/yarn-4.0.0-rc.47.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  eslint.config.mjs
  package.json
  renovate.json
  tsconfig.json
  yarn.lock
Due: prettier --write

build: set `npmMinimalAgeGate: 5d` to `.yarnrc.yml`
  .yarnrc.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
