Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

change order of items
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.svelte
Due: eslint --fix

feat: beautiful styling of configuration popup
  src/components/BodyContainer.svelte
  src/components/Button.svelte
  src/components/Footer.svelte
  src/components/Header.svelte
  src/components/ItemContainer.svelte
  src/components/ItemLabel.svelte
  src/components/Switch.svelte
  src/components/TextField.svelte
  src/popup.svelte
Due: none

support only wildcard
  src/background.ts
  src/config.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.svelte
Due: eslint --fix

fix
  src/background.ts
Due: eslint --fix

update default
  src/constants.ts
Due: eslint --fix

rename
  src/popup.svelte
Due: none

fix: don’t apply visualization in unexpected webpages
  manifest.json
  src/constants.ts
  src/content_scripts.ts
Due: eslint --fix, prettier --write

update README.md
  README.md
Due: prettier --write

fix
  README.md
Due: prettier --write

refactor: use custom events and event forwarding, rename variables
  src/components/Button.svelte
  src/components/Footer.svelte
  src/components/Switch.svelte
  src/components/TextField.svelte
  src/popup.svelte
Due: none

chore: disable ESLint for SCSS on Svelte
  .eslintrc.js
Due: none

chore: disable ESLint for SCSS on Svelte (#577)
  .eslintrc.js
Due: none

feat: improve the styling of the popup (#573)
  src/components/BodyContainer.svelte
  src/components/Button.svelte
  src/components/Footer.svelte
  src/components/Header.svelte
  src/components/ItemContainer.svelte
  src/components/ItemLabel.svelte
  src/components/Switch.svelte
  src/components/TextField.svelte
  src/popup.svelte
Due: none

refactor popup.svelte
  src/popup.svelte
Due: none

fix: don’t apply visualization in unexpected webpages (#575)
  README.md
  manifest.json
  src/constants.ts
  src/content_scripts.ts
  src/popup.svelte
Due: eslint --fix, prettier --write

fix: update manifest.json and samples
  manifest.json
  puml-sample/README.md
  puml-sample/included.pu
  puml-sample/including.pu
  puml-sample/japanese.pu
  puml-sample/subincluded.pu
  puml-sample/subincluding.pu
Due: prettier --write

fix
  puml-sample/including.pu
  puml-sample/subincluding.pu
Due: none

fix: update manifest.json and samples (#578)
  manifest.json
  puml-sample/README.md
  puml-sample/included.pu
  puml-sample/including.pu
  puml-sample/japanese.pu
  puml-sample/subincluded.pu
  puml-sample/subincluding.pu
Due: prettier --write

Added support for "includeurl" keyword and URL based includes
  src/directiveRegexes.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

Changed includesub directive to better handle 404s
  src/finder/gitHubFinder.ts
Due: eslint --fix

Changed codeBlockFinder to better handle 404s
  src/finder/codeBlockFinder.ts
Due: eslint --fix

fix: better support for the samples in plantuml-stdlib (#580)
  src/directiveRegexes.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

chore(deps): update dependency @rollup/plugin-node-resolve to v13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v19
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  .prettierignore
  .yarnrc.yml
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

.
  package.json
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: willboosterify this repo (#585)
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
  .prettierignore
  .yarnrc.yml
  package.json
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e5c2a2cd6bd1bac416da40c5f7e869bf9a3cf3ce
Due: none

chore(deps): update babel monorepo
  .node-version
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update babel monorepo
  package.json
Due: prettier --write

Add gist to allowed URLs
  manifest.json
Due: prettier --write

Fix typo
  README.md
Due: prettier --write

feat: add gist to allowed URLs (#589)
  manifest.json
Due: prettier --write

docs: fix typo (#590)
  README.md
Due: prettier --write

update
  manifest.json
  src/components/TextField.svelte
  src/popup.svelte
Due: prettier --write
