Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

chore(deps): update dependency eslint to v6
  package.json
  yarn.lock
Due: prettier --write

feat: add support for generic pu/puml/plantuml files (#70)
  manifest.json
  src/GenericFinder.ts
  src/content_scripts.ts
Due: eslint --fix, prettier --write

Update wercker.yml
  wercker.yml
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix: a lint error
  package.json
  src/GenericFinder.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): update dependency husky to v2.5.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jquery to v3.3.30
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v6.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/eslint-config to v0.0.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/prettier-config to v0.0.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/renovate-config to v0.0.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/tsconfig to v0.0.11
  package.json
  yarn.lock
Due: prettier --write

perf: optimize code
  package.json
  src/Finder.ts
  src/GitHubFinder.ts
  src/RawFileFinder.ts
  src/content_scripts.ts
  yarn.lock
Due: eslint --fix, prettier --write

perf: optimize code (#76)
  package.json
  src/Finder.ts
  src/GitHubFinder.ts
  src/RawFileFinder.ts
  src/content_scripts.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore(deps): update dependency eslint-config-prettier to v5.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependencies
  .eslintignore
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: tweak prettier settings
  package.json
Due: prettier --write

fix: early return condition
  src/content_scripts.ts
Due: eslint --fix

Update content_scripts.ts
  src/content_scripts.ts
Due: eslint --fix

fix: early return condition (#82)
  src/content_scripts.ts
Due: eslint --fix

chore(deps): update dependency husky to v2.6.0
  package.json
  yarn.lock
Due: prettier --write

change to large diagram
  puml-sample/class.pu
Due: none

make larger
  puml-sample/class.pu
Due: none

add interface
  puml-sample/class.pu
Due: none

fix: visualize large diagram correctly
  src/Mutator.ts
  src/PlantUmlEncoder.ts
Due: eslint --fix

change code based on review
  src/Constants.ts
  src/Mutator.ts
  src/PlantUmlEncoder.ts
  src/background.ts
Due: eslint --fix

fix: visualize large diagram correctly (#86)
  src/Constants.ts
  src/Mutator.ts
  src/PlantUmlEncoder.ts
  src/background.ts
Due: eslint --fix

fix: prevent cloned image
  src/Mutator.ts
Due: eslint --fix

refactor code
  src/Mutator.ts
Due: eslint --fix

fix: prevent from embedding an image twice (#88)
  src/Mutator.ts
Due: eslint --fix

v1.1.0
  manifest.json
  package.json
Due: prettier --write
