Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

lint error
  .vscode/settings.json
  src/encoder/plantUmlEncoder.ts
  src/finder/gitHubFinder.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix, prettier --write

refactor to preprocess function
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

recursive preprocess
  src/finder/rawFileFinder.ts
Due: eslint --fix

preprocess per line
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

implement includesub
  src/finder/finderUtil.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

add sample
  puml-sample/includedState.pu
  puml-sample/includingState.pu
  puml-sample/subincludedState.pu
  puml-sample/subincludingState.pu
Due: none

update sample
  puml-sample/subincludedState.pu
  puml-sample/subincludingState.pu
Due: none

fix
  puml-sample/subincludingState.pu
Due: none

update sample
  puml-sample/subincludedState.pu
Due: none

fix
  puml-sample/includingState.pu
Due: none

fix
  puml-sample/subincludingState.pu
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

update settings.json
  .vscode/settings.json
Due: prettier --write

docs update README.md
  README.md
Due: prettier --write

don't generate elements dynamically
  src/popup.html
  src/popup.ts
Due: eslint --fix, prettier --write

refactor code
  src/background.ts
  src/constants.ts
  src/encoder/plantUmlEncoder.ts
  src/popup.ts
Due: eslint --fix

remove tail /
  src/popup.html
  src/popup.ts
Due: eslint --fix, prettier --write

refactor code
  src/encoder/plantUmlEncoder.ts
Due: eslint --fix

refactor code
  src/background.ts
Due: eslint --fix

ci: improve CI scripts
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
Due: prettier --write

refactor code
  src/popup.ts
Due: eslint --fix

feat: implement configuration popup (#548)
  .vscode/settings.json
  manifest.json
  package.json
  rollup.config.js
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/encoder/plantUmlEncoder.ts
  src/finder/gitHubFinder.ts
  src/mutator/mutatorUtil.ts
  src/popup.html
  src/popup.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: improve CI scripts (#555)
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
Due: prettier --write

refine README
  README.md
Due: prettier --write

Notes added by 'git notes add'
  aef9ae67c1c1cc0ad49543cfeaa4d29cd8d6fc92
Due: none

simplify
  src/finder/finderUtil.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

simplify
  src/finder/finderUtil.ts
Due: eslint --fix

install deps
  .eslintrc.json
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write

build: use svelte for popup
  .vscode/settings.json
  package.json
  rollup.config.js
  src/background.ts
  src/constants.ts
  src/popup.html
  src/popup.svelte
  src/popup.ts
Due: eslint --fix, prettier --write

fix lint
  src/@types/svelte.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

lix lint
  src/@types/svelte.d.ts
Due: eslint --fix

fix type
  src/@types/svelte.d.ts
Due: eslint --fix

fix bug
  src/popup.svelte
Due: none

change code based on review
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

refine style
  src/popup.svelte
Due: none

use continue statement
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
