Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

feat: support for !includesub directive (#553)
  puml-sample/includedState.pu
  puml-sample/includingState.pu
  puml-sample/state.pu
  puml-sample/subincludedState.pu
  puml-sample/subincludingState.pu
  src/finder/finderUtil.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

docs: update README.md (#554)
  README.md
Due: prettier --write

Notes added by 'git notes add'
  4612459abbb58eac24db344abafb3cffe74c3834
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v18
  package.json
  yarn.lock
Due: prettier --write

rename rawFileFinder to codeBlockFinder
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
Due: eslint --fix

change URL_REGEX
  src/finder/codeBlockFinder.ts
Due: eslint --fix

find any url
  manifest.json
  src/finder/codeBlockFinder.ts
Due: eslint --fix, prettier --write

build: employ yarn v2 without PnP
  .editorconfig
  .eslintignore
  .gitattributes
  .gitignore
  .idea/watcherTasks.xml
  .lintstagedrc.js
  .prettierignore
  .yarnrc
  tsconfig.json
  yarn.lock
Due: prettier --write

delete GitHubCodeBlockFinder
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

build: employ yarn v2 without PnP
  .github/workflows/test.yml
  .node-version
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc.yml
Due: prettier --write

fix(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: prettier --write

build: employ yarn v2 without PnP (#562)
  .editorconfig
  .eslintignore
  .gitattributes
  .github/workflows/test.yml
  .gitignore
  .idea/watcherTasks.xml
  .lintstagedrc.js
  .node-version
  .prettierignore
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarnrc
  .yarnrc.yml
  tsconfig.json
  yarn.lock
Due: prettier --write

fix(deps): upgrade all dependencies (#563)
  package.json
  yarn.lock
Due: prettier --write

apply comment
  manifest.json
  src/finder/codeBlockFinder.ts
Due: eslint --fix, prettier --write

feat: support any <pre> tag which has @startuml and @enduml (#561)
  manifest.json
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix, prettier --write

ci: fix release scripts for yarn v2
  .github/workflows/semantic-release.yml
Due: prettier --write

Notes added by 'git notes add'
  0fb3f9a62c0574680709a1454e07fce3e1849b22
Due: none

build: fix npm scripts for yarn v2
  package.json
  yarn.lock
Due: prettier --write

fix: mutate only <pre> which has @startuml prefix and @enduml suffix
  src/finder/codeBlockFinder.ts
Due: eslint --fix

fix: disable any mutation on GitHub editor
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

fix: mutate only <pre> which has @startuml prefix and @enduml suffix (#566)
  src/finder/codeBlockFinder.ts
Due: eslint --fix

deal with review comment
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

fix: disable any mutation on GitHub editor (#567)
  src/content_scripts.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

fix: ignore case sensitivity for finding directives
  src/finder/codeBlockFinder.ts
  src/finder/finderUtil.ts
  src/finder/gitHubFinder.ts
  src/regexes.ts
Due: eslint --fix

.
  src/directiveRegexes.ts
  src/finder/codeBlockFinder.ts
  src/finder/finderUtil.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

fix: ignore case sensitivity for finding directives (#569)
  src/directiveRegexes.ts
  src/finder/codeBlockFinder.ts
  src/finder/finderUtil.ts
  src/finder/gitHubFinder.ts
Due: eslint --fix

docs: update visualizable pages
  README.md
Due: prettier --write

Notes added by 'git notes add'
  f2f56739fc069d76c8b03bddc106fa1aed0ad759
Due: none

build(semantic-release): disable success comment
  .releaserc.json
Due: prettier --write

docs(NOTICE): fix software name
  NOTICE
Due: none

build: setup ESLint for Svelte
  .eslintrc.js
  .eslintrc.json
  package.json
  src/popup.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: use "import type" to pass "yarn typecheck"
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
Due: eslint --fix

build: setup Sass on Svelte
  package.json
  src/popup.svelte
  yarn.lock
Due: prettier --write

build: setup Sass on Svelte (#571)
  package.json
  src/popup.svelte
  yarn.lock
Due: prettier --write

use property assinment
  src/popup.svelte
Due: none

delete needless typefile
  src/@types/svelte.d.ts
Due: eslint --fix

don’t copy object from sendMessage
  src/popup.svelte
Due: none

use "if loading"
  src/popup.svelte
Due: none

refactor: rewrite popup using svelte (#556)
  .eslintrc.js
  .eslintrc.json
  .vscode/settings.json
  package.json
  rollup.config.js
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/finder/codeBlockFinder.ts
  src/finder/gitHubFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/popup.html
  src/popup.svelte
  src/popup.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: disable any mutation on user-defined pages
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.svelte
Due: eslint --fix
