Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: willboosterify this repo
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#705)
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#707)
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#708)
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update yarn to v4
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-4.0.0-rc.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-4.0.0-rc.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#709)
  .eslintignore
  .gitignore
  .prettierignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-4.0.0-rc.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/renovate-config to v9.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency conventional-changelog-conventionalcommits to v5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .eslintignore
  .github/workflows/semantic-pr.yml
  .github/workflows/test.yml
  .github/workflows/wbfy-merge.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  .yarn/releases/yarn-4.0.0-rc.2.cjs
  .yarn/releases/yarn-4.0.0-rc.9.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#716)
  .eslintignore
  .github/workflows/semantic-pr.yml
  .github/workflows/test.yml
  .github/workflows/wbfy-merge.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  .yarn/releases/yarn-4.0.0-rc.2.cjs
  .yarn/releases/yarn-4.0.0-rc.9.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .github/semantic.yml
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .eslintignore
  .gitignore
  .prettierignore
Due: none

chore: willboosterify this repo
  .yarn/releases/yarn-4.0.0-rc.10.cjs
  .yarn/releases/yarn-4.0.0-rc.11.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

docs: fix badge
  README.md
Due: prettier --write

Fix encoding error on recent PlantUML servers
  src/encoder/plantUmlEncoder.ts
Due: eslint --fix

fix: upgrade dependencies
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write

fix: upgrade dependencies
  .editorconfig
  .eslintignore
  .gitattributes
  .github/workflows/add-issue-to-project.yml
  .github/workflows/close-comment.yml
  .github/workflows/notify-ready.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/wbfy-merge.yml
  .github/workflows/wbfy.yml
  .gitignore
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .idea/watcherTasks.xml
  .lintstagedrc.cjs
  .node-version
  .prettierignore
  .releaserc.json
  .tool-versions
  .yarn/plugins/plugin-auto-install.cjs
  .yarnrc.yml
  README.md
  package.json
  rollup.config.mjs
  src/background.ts
  src/components/Footer.svelte
  src/config.ts
  src/contentScripts.ts
  src/encoder/plantUmlEncoder.ts
  src/finder/codeBlockFinder.ts
  src/finder/finder.ts
  src/finder/gitHubFinder.ts
  src/finder/github/gitHubFileViewFinder.ts
  src/finder/github/gitHubPullRequestDiffFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/popup.svelte
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat!: change default plantuml-server
  src/constants.ts
Due: eslint --fix

update example
  example.png
Due: none

feat!: change default plantuml-server (#833)
  example.png
  src/constants.ts
Due: eslint --fix

.
  .dockerignore
  .eslintignore
  .github/workflows/add-issue-to-project.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .lintstagedrc.cjs
  .node-version
  .prettierignore
  .tool-versions
  .yarnrc.yml
  package.json
  src/background.ts
  src/encoder/plantUmlEncoder.ts
  src/types/svelte.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

.
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
