Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "./**/*.{css,htm,html,json,md,scss,yaml,yml}": ["prettier --write", "git add"]
}

fix
  src/constants.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

rename symbol
  src/constants.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

fix: don't find elements embedded by mutators (#538)
  .vscode/settings.json
  src/constants.ts
  src/content_scripts.ts
  src/finder/finder.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix, prettier --write

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency husky to v5
  package.json
  yarn.lock
Due: prettier --write

check edit url or not
  src/content_scripts.ts
Due: eslint --fix

feat: support *.wsd extension
  README.md
  manifest.json
  puml-sample/sequence.wsd
  src/finder/gitHubFinder.ts
Due: eslint --fix, prettier --write

feat: support *.wsd extension (#543)
  README.md
  manifest.json
  puml-sample/sequence.wsd
  src/finder/gitHubFinder.ts
Due: eslint --fix, prettier --write

add EDIT_URL_REGEX to gitHubFinder and change find content condition in rawFIleFinder
  src/content_scripts.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

fix: disable mutation while editing a puml file on GitHub (#544)
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
Due: eslint --fix

chore(deps): update willbooster-config
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: prettier --write

ci: refine settings for GitHub Actions
  .github/workflows/test.yml
Due: prettier --write

Notes added by 'git notes add'
  24499f85b41ac2fe582aef42f093605462ef5dde
Due: none

ci: employ skip-duplicate-actions
  .github/workflows/test.yml
Due: prettier --write

update vscode settings
  .vscode/settings.json
Due: prettier --write

"hello world" of popup
  manifest.json
  package.json
  rollup.config.js
  src/popup.html
  src/popup.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs(sample): add japanese pu file
  puml-sample/ja.pu
Due: none

docs(sample): add japanese pu file (#549)
  puml-sample/ja.pu
Due: none

docs: add description of default server
  README.md
Due: prettier --write

done!
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.html
  src/popup.ts
Due: eslint --fix, prettier --write

remove console.log
  src/popup.ts
Due: eslint --fix

lint fix
  src/background.ts
  src/encoder/plantUmlEncoder.ts
  src/finder/gitHubFinder.ts
  src/mutator/mutatorUtil.ts
  src/popup.ts
Due: eslint --fix

add toggle button
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.ts
Due: eslint --fix

fix
  src/popup.ts
Due: eslint --fix

persistence of config
  manifest.json
  src/background.ts
Due: eslint --fix, prettier --write

fix icon
  src/background.ts
Due: eslint --fix

move defaultConfig to constants
  src/background.ts
  src/constants.ts
  src/popup.ts
Due: eslint --fix

fix
  src/encoder/plantUmlEncoder.ts
Due: eslint --fix

error handling
  src/constants.ts
  src/encoder/plantUmlEncoder.ts
  src/popup.ts
Due: eslint --fix

margin
  src/popup.ts
Due: eslint --fix

loading
  src/popup.ts
Due: eslint --fix

try catch
  src/popup.ts
Due: eslint --fix

error color
  src/popup.ts
Due: eslint --fix
