Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add a new icon. refine package command.
  icon.png
  package.json
  yarn.lock
Due: prettier --write

fix: refine content_script.ts
  src/content_scripts.ts
Due: eslint --fix

rename symbols
  src/content_scripts.ts
Due: eslint --fix

fix: refine content_script.ts (#89)
  src/content_scripts.ts
Due: eslint --fix

chore(deps): update dependency husky to v2.7.0
  package.json
  yarn.lock
Due: prettier --write

v1.1.1
  manifest.json
  package.json
Due: prettier --write

chore: make the size of icon image 128 x 128
  icon.png
Due: none

chore: add new icons
  .gitignore
  icon.png
  icon/icon128.png
  icon/icon16.png
  icon/icon48.png
  manifest.json
  package.json
Due: prettier --write

chore: add new icons (#95)
  .gitignore
  icon.png
  icon/icon128.png
  icon/icon16.png
  icon/icon48.png
  manifest.json
  package.json
Due: prettier --write

fix: judge if MutationOvserver is needed by checking URL
  src/Constants.ts
  src/content_scripts.ts
Due: eslint --fix

refine a variable name
  src/Constants.ts
  src/content_scripts.ts
Due: eslint --fix

fix: judge if MutationOvserver is needed by checking URL (#96)
  src/Constants.ts
  src/content_scripts.ts
Due: eslint --fix

v1.1.2
  manifest.json
  package.json
Due: prettier --write

chore(deps): update dependency husky to v3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v9
  package.json
  yarn.lock
Due: prettier --write

chore(icon): refine on/off
  src/background.ts
Due: eslint --fix

chore(deps): update dependency lint-staged to v9.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v9.0.2
  package.json
  yarn.lock
Due: prettier --write

add gray icon
  icon/icon16gray.png
  src/background.ts
Due: eslint --fix

refine background.ts
  src/background.ts
Due: eslint --fix

chore(icon): refine on/off (#100)
  icon/icon16gray.png
  src/background.ts
Due: eslint --fix

v1.1.3
  package.json
Due: prettier --write

v1.1.3
  manifest.json
  package.json
Due: prettier --write

build: refine package command for packaging Firefox add-on
  README.md
  package.json
Due: prettier --write

DONT MERGE: rename a UML file
  puml-sample/newname.pu
Due: none

DONT MERGE: rename and change a UML file
  puml-sample/newname.pu
Due: none

make filename longer
  puml-sample/veryLongSamplePlantUMLfilename.pu
Due: none

make filename longer
  puml-sample/veryVeryVeryLongSamplePlantUMLfilename.pu
Due: none

chore(deps): update dependency @willbooster/eslint-config to v0.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/prettier-config to v0.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/renovate-config to v0.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/tsconfig to v0.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v9.1.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
