Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade all dependencies (#462)
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): lock file maintenance (#452)
  yarn.lock
Due: none

chore(deps): update yarn.lock
  yarn.lock
Due: none

fix: fix PR-diff finder (#460)
  README.md
  allow-access.png
  src/finder/gitHubFinder.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f8d70dc2d8b439e76f7ea0f9de251c5ff5bd8d7b
Due: none

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency bestzip to v2.1.7 [security]
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency dotenv-cli to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v15
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
