Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: allow http
  manifest.json
  src/popup.svelte
Due: prettier --write

chore(deps): update babel monorepo
  .node-version
  package.json
Due: prettier --write

.
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.0.0-rc.5.cjs
  .yarnrc.yml
  yarn.lock
Due: prettier --write

build: release extension when updating main branch
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  .releaserc.json
Due: prettier --write

.
  README.md
Due: prettier --write

build: release extension when updating main branch (#595)
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  .releaserc.json
  README.md
Due: prettier --write

Notes added by 'git notes add'
  c16cccc4221167da4664eab2b8b5de646567d800
Due: none

feat: disable any mutation on user-defined pages (#572)
  manifest.json
  src/background.ts
  src/components/TextField.svelte
  src/config.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.svelte
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  623b422600135cc177df7ae18834c84e157fefb4
Due: none

feat: allow http protocol in url of plantuml server (#591)
  manifest.json
  src/popup.svelte
Due: prettier --write

Notes added by 'git notes add'
  da02469f7843e5b393f1e2cf704a136e20b5b8f0
Due: none

fix: mistake of conflict resolution
  src/popup.svelte
Due: none

feat: support allow list
  src/background.ts
  src/config.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.svelte
Due: eslint --fix

fix
  src/content_scripts.ts
Due: eslint --fix

fix
  src/background.ts
Due: eslint --fix

not setAsDefault but backToDefault
  src/background.ts
  src/components/Footer.svelte
  src/constants.ts
  src/popup.svelte
Due: eslint --fix

delete needless denied item
  src/constants.ts
Due: eslint --fix

build: implement scheduled release
  .github/workflows/semantic-release.yml
Due: prettier --write

build: implement scheduled release (#603)
  .github/workflows/semantic-release.yml
  README.md
Due: prettier --write

fix: mistake of conflict resolution (#601)
  src/popup.svelte
Due: none

Notes added by 'git notes add'
  ed6e3caab76aba6e8b17eeb2dc0b5a646cddd7e7
Due: none

feat: support allow list (#602)
  src/background.ts
  src/components/Footer.svelte
  src/config.ts
  src/constants.ts
  src/content_scripts.ts
  src/popup.svelte
Due: eslint --fix

Notes added by 'git notes add'
  060ffb0656a588cec1ad64204dc747d66ae917bc
Due: none

build: enable successComment option and exclude @semantic-release/npm
  .releaserc.json
Due: prettier --write

ci: fix skip condition
  .github/workflows/test.yml
Due: prettier --write

chore(deps): update dependency @babel/preset-env to v7.14.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): pin dependency @types/micromatch to v4.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all non-major dependencies
  .node-version
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update linters
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.28.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @tsconfig/svelte to v2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update babel monorepo to v7.14.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4.28.4
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
