Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: visualize diffs of PlantUML descriptions which include both renaming and changes (#267)
  src/finder/GitHubFinder.ts
Due: eslint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade dependencies
  .releaserc.json
  yarn.lock
Due: prettier --write

fix: semantic-release configs
  .releaserc.json
Due: prettier --write

fix: disable semantic-release-firefox temporally
  .releaserc.json
Due: prettier --write

Revert "fix: disable semantic-release-firefox temporally"
  .releaserc.json
Due: prettier --write

fix: upgrade dependencies
  yarn.lock
Due: none

docs: fix author name
  NOTICE
  package.json
Due: prettier --write

build: willboosterify
  .dependabot/config.yml
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .yarnrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

,
  package.json
  yarn.lock
Due: prettier --write

build: willboosterify this package (#314)
  .dependabot/config.yml
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .yarnrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  .eslintignore
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#316)
  .eslintignore
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

ci: don't use Wercker
  README.md
  wercker.yml
Due: prettier --write

chore: willboosterify this repo
  .editorconfig
  package.json
Due: prettier --write

chore: willboosterify this repo (#317)
  .editorconfig
  package.json
Due: prettier --write

chore: willboosterify this repo
  yarn.lock
Due: none

chore: willboosterify this repo (#323)
  yarn.lock
Due: none

chore: willboosterify this repo upgrading dependencies
  .eslintignore
  .prettierignore
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies (#326)
  .eslintignore
  .prettierignore
Due: none

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore: willboosterify this repo upgrading dependencies
  .dependabot/config.yml
  .eslintignore
  .gitignore
  .prettierignore
  .renovaterc.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies (#343)
  .dependabot/config.yml
  .eslintignore
  .gitignore
  .prettierignore
  .renovaterc.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v6.7.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rollup to v1.27.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency sort-package-json to v1.24.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v2.9.0
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies (#344)
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v9.5.0
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies
  .eslintignore
  .gitignore
  .prettierignore
  yarn.lock
Due: none

chore: willboosterify this repo upgrading dependencies (#350)
  .eslintignore
  .gitignore
  .prettierignore
  yarn.lock
Due: none

chore(deps): update dependency sort-package-json to v1.27.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v6.7.2
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
