Repository WillBooster/PlantUML-Visualizer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.
  .github/workflows/check-and-build.yml
Due: prettier --write

feat: support include directive in GitHub raw file (#424)
  src/content_scripts.ts
  src/finder/GitHubFinder.ts
  src/finder/RawFileFinder.ts
Due: eslint --fix

.
  .github/workflows/check-and-build.yml
  .github/workflows/semantic-release.yml
  .releaserc.json
  package.json
Due: prettier --write

.
  .github/workflows/semantic-release.yml
Due: prettier --write

ci: employ GitHub Actions and semantic-release-firefox-add-on (#428)
  .circleci/config.yml
  .github/workflows/check-and-build.yml
  .github/workflows/semantic-release.yml
  .releaserc.json
  package.json
  yarn.lock
Due: prettier --write

ci: fix semantic-release config
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  0920c5f5242ebe9801b03adaef7de66e3b33f72c
Due: none

refactor: code
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/encoder/plantUmlEncoder.ts
  src/finder/finder.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

fix: make double-clicking work even when going-back/forward
  src/mutator/DescriptionMutator.ts
Due: eslint --fix

fix: remove unnecessary permissions
  manifest.json
Due: prettier --write

docs: add an example of '!include'
  README.md
Due: prettier --write

refactor: code (#429)
  src/background.ts
  src/constants.ts
  src/content_scripts.ts
  src/encoder/plantUmlEncoder.ts
  src/finder/finder.ts
  src/finder/gitHubFinder.ts
  src/finder/rawFileFinder.ts
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
  src/mutator/mutatorUtil.ts
Due: eslint --fix

fix: remove unnecessary permissions (#431)
  manifest.json
Due: prettier --write

refine examples
  README.md
Due: prettier --write

docs: add an example of '!include' (#432)
  README.md
Due: prettier --write

Support DiffMutator
  src/mutator/diffMutator.ts
Due: eslint --fix

docs: show GitHub Actions badge instead of CircleCI
  README.md
Due: prettier --write

build: prioritize firefox add-on release
  .releaserc.json
Due: prettier --write

fix: make double-clicking work even when going-back/forward (#430)
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
Due: eslint --fix

fix: don't register dblclick handler multiple times
  src/mutator/descriptionMutator.ts
  src/mutator/diffMutator.ts
Due: eslint --fix

Notes added by 'git notes add'
  97388e6533fc075349a7172bdee81d98ba80afe8
Due: none

fix: update rollup plugins
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write

chore: fix semantic-release-firefox-add-on settings
  .releaserc.json
Due: prettier --write

Notes added by 'git notes add'
  42a165bd5d4fbfd8bbb819e0a28611f0b69e5c55
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

build: employ babel instead of tsc
  .browserslistrc
  babel.config.json
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write

build: employ babel instead of tsc (#438)
  .browserslistrc
  babel.config.json
  package.json
  rollup.config.js
  yarn.lock
Due: prettier --write

fix(deps): upgrade all dependencies
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  bcdd414107f803293286fb7a2eb1860a78e64f23
Due: none

fix: make babel not to transpile code in node_modules
  babel.config.json
  package.json
  rollup.config.js
Due: prettier --write

Notes added by 'git notes add'
  30f87446adfc14f700e040f648d2d7aa385580eb
Due: none

docs: update README.md
  README.md
Due: prettier --write

docs: add 'Requirements for Development' in README
  README.md
  github-actions.png
Due: prettier --write

Path conditions:
  eslint --fix: any of: ./{src,__tests__}/**/*.{js,jsx,ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,json,md,scss,yaml,yml}
